* {
    font-family: sans-serif;
    background-color: #181a1b;
    color: #fff;
}
h1 {
    color: #e44e58;
    font-size: 4.85vw;
    font-weight: bold;
}

h3 {
    font-size: 2.03vw;
}

#contact {
    text-align: center;
    font-size: 3.00vw;
}

#home {
    text-align: center;
}

.homepara {
    text-align: center;
    font-size: 2.03vw;
}
